= render Modal::Component.new do
  .px-4.space-y-10.text-center.w-full
    %h1.text-2xl.font-bold
      ログイン
    = form_with url: users_session_path, data: { turbo: false }, class: "space-y-8" do |f|
      .space-y-1
        = f.label :email, 'メールアドレス', class: "block text-left"
        = f.email_field :email, class: "input", placeholder: "example@example.com"
      .space-y-1
        = f.label :password, 'パスワード', class: "block text-left"
        = f.password_field :password, class: "input", placeholder: "***********"
      = f.submit "ログイン", class: "max-w-full px-16 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-full font-bold"
    .flex.justify-center
      = link_to new_users_password_reset_path, class: 'hover:opacity-80 flex gap-1 items-center', data: { turbo_frame: 'modal' } do
        %svg.w-5.h-5{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          = render 'svgs/chevron_right'
        %p
          パスワードを忘れた場合はこちら
