.flex.px-4.py-3.border-b-2.border-gray-100.gap-4.items-center
  .flex-none.w-4
    %p
      = id
  .flex-none.w-24
    %p
      = name
  .flex-none.w-48
    %p
      = email
  .flex-none.w-28
    %p
      = phone_number
  .flex-1
    %p
      = text
  .flex-none.w-40
    %p
      = created_at