= turbo_frame_tag 'navbar', class: 'px-4 py-2 flex items-center justify-between border-b border-gray-200' do
  .space-y-1
    = link_to root_path, data: {turbo: false} do
      %h1.text-lg.font-bold
        AppBase
    
  - if @current_user.present?
    .flex.gap-2.items-center
      = link_to 'マイページ', mypage_users_path, class: 'px-2 py-1 bg-blue-500 text-white rounded hover:opacity-70', data: { turbo_frame: '_top' }
  - else
    .flex.gap-2.items-center
      = link_to 'ログイン', new_users_session_path, class: 'px-2 py-1 bg-blue-500 text-white rounded hover:opacity-70', data: { turbo_frame: 'modal' }
      = link_to '新規登録', new_user_path, class: 'px-2 py-1 bg-blue-500 text-white rounded hover:opacity-70', data: { turbo_frame: 'modal' }
