= turbo_frame_tag cat, class: 'p-2 flex odd:bg-gray200 bg-white' do
  %div{ class: 'w-1/6' }
    = cat.id
  %div{ class: 'w-1/3' }
    = cat.name
  %div{ class: 'w-1/3' }
    = cat.age
  %div{ class: 'w-1/6' }
    = link_to "編集", edit_cat_path(cat), data: { turbo_frame: "modal" }
    = button_to "削除", cat, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }