!!!
%html
  %head
    = render 'layouts/head'
  %body.font-sans.text-gray-700
    %main
      = yield
    = turbo_frame_tag 'modal'
    = turbo_frame_tag 'toasts', class: 'fixed bottom-0 right-0 z-50 p-4' do
      - flash.each do |key, value|
        = render Toast::Component.new(type: key.to_sym, message: value)